<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Uganda Airlines || Navbar</title>
</head>
<body>
<div th:fragment="navbar">
    <header id="header-waypoint-sticky" class="header-main header-mobile-menu with-absolute-navbar">
        <div class="header-top">
            <div class="container">
                <div class="row align-items-center ">
                    <div class="col-4">
                        <div class="header-logo">
                            <a href="/">
                                <img th:src="@{/web/images/uganda-logo-2.png}" alt="Logo" src=""/>
                            </a>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="mini-menu">
                            <ul>
                                <li>
                                    <a href="javascript:void(0)" class="btn btn-outline-warning">
                                        <em class="fa fa-unlock"></em>
                                        Login
                                    </a>
                                    <a href="javascript:void(0)" class="btn btn-outline-dark">
                                        <em class="fa fa-registered"></em>
                                        Register
                                    </a>
                                </li>
                                <li class="d-lg-none">
                                    <button class="btn btn-toggle collapsed" data-toggle="collapse"
                                            data-target="#mobileMenuMain"></button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-nav">
            <div class="container">
                <div class="navbar-wrapper">
                    <div class="navbar navbar-expand-lg">
                        <div id="mobileMenuMain" class="collapse navbar-collapse">
                            <nav class="main-nav-menu main-menu-nav navbar-arrow">
                                <ul class="main-nav">
                                    <li>
                                        <a href="/">Home</a>
                                    </li>
                                    <li><a href="javascript:void(0)">Pages</a>
                                        <ul>
                                            <li><a href="/about">About us</a></li>
                                            <li><a href="/faq">FAQ</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/contact-us">Contact us</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="navbar-phone d-none d-lg-block">
                            <i class="material-icons">phone</i> Hotline: +66 74 665 855
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>
</body>
</html>
