<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Uganda Airlines || Navbar</title>
</head>
<body>
<div th:fragment="admin-navbar">
    <div class="navbar-custom">
        <div class="container-fluid">
            <div id="navigation">
                <ul class="navigation-menu">
                    <li class="has-submenu">
                        <a href="/app/dashboard"><i class="icon-accelerator"></i> Dashboard</a>
                    <li class="has-submenu">
                        <a href="/app/flights"><i class="fa fa-plane"></i> Flights</a>
                    </li>
                    <li class="has-submenu">
                        <a href="/app/flight/new"><i class="fa fa-plane"></i> Add new Flight</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>
