<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Uganda Airlines || Navbar</title>
</head>
<body>
<div th:fragment="admin-header">
    <div class="topbar-main">
        <div class="container-fluid">
            <div>
                <a href="/app/dashboard" class="logo">
                    <span class="logo-light">
                        <em class="mdi mdi-airplane"></em> Uganda Airlines
                    </span>
                </a>
            </div>
            <div class="menu-extras topbar-custom navbar p-0">
                <ul class="list-inline d-none d-lg-block mb-0">
                    <li class="hide-phone app-search float-left">
                        <form role="search" class="app-search">
                            <div class="form-group mb-0">
                                <input type="text" class="form-control" placeholder="Search..">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </div>
                        </form>
                    </li>
                </ul>
                <ul class="navbar-right ml-auto list-inline float-right mb-0">
                    <li class="dropdown notification-list list-inline-item">
                        <div class="dropdown notification-list nav-pro-img">
                            <a class="dropdown-toggle nav-link arrow-none nav-user" data-toggle="dropdown"
                               href="javascript:void(0)" role="button" aria-haspopup="false" aria-expanded="false">
                                <img th:src="@{/app/assets/images/users/user-4.jpg}" alt="user" class="rounded-circle">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                                <a class="dropdown-item" href="javascript:void(0)"><i
                                        class="mdi mdi-account-circle"></i> Profile</a>
                                <a class="dropdown-item" href="javascript:void(0)"><i class="mdi mdi-wallet"></i> My
                                    Wallet</a>
                                <a class="dropdown-item d-block" href="javascript:void(0)"><span
                                        class="badge badge-success float-right">11</span><i
                                        class="mdi mdi-settings"></i> Settings</a>
                                <a class="dropdown-item" href="javascript:void(0)"><i
                                        class="mdi mdi-lock-open-outline"></i> Lock screen</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-danger" href="javascript:void(0)"><i
                                        class="mdi mdi-power text-danger"></i> Logout</a>
                            </div>
                        </div>
                    </li>
                    <li class="menu-item dropdown notification-list list-inline-item">
                        <a class="navbar-toggle nav-link">
                            <div class="lines">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
</body>
</html>
