<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/app/admin-main-page}">
<head>
    <title>Uganda Airlines || Flights</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="page-title-box">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <h4 class="page-title">List of Flights</h4>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-right">
                    <li class="breadcrumb-item"><a href="/app/dashboard">Dashboard</a></li>
                    <li class="breadcrumb-item active"><a href="/app/flights">Flights</a></li>
                </ol>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card m-b-30">
                <div class="card-body">
                    <h4 class="mt-0 header-title">List of Flights</h4>
                    <a href=""></a>
                    <div class="table-responsive">
                        <table class="table mb-0">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>From</th>
                                <th>Destination</th>
                                <th>Departure Time</th>
                                <th>Landing Time</th>
                                <th>Economy Fair</th>
                                <th>Business Fair</th>
                                <th>AirCraft</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="flight,istat:${flights}">

                                <td th:text="${istat.count}"/>
                                <td th:text="${flight.getDepartureAirport().airportName+' '+flight.getDepartureAirport().city+','+flight.getDepartureAirport().country}"/>
                                <td th:text="${flight.getArrivalAirport().airportName+' '+flight.getArrivalAirport().city+','+flight.getArrivalAirport().country}"/>
                                <td th:text="${flight.getDepartureTime()}"/>
                                <td th:text="${flight.getArrivalTime()}"/>
                                <td th:text="${flight.getEconomyCost()}"/>
                                <td th:text="${flight.getBusinessCost()}"/>
                                <td th:text="${flight.getAircraft().aircraftModel+' '+flight.getAircraft().registrationCode}"/>
                                <!--Adding a button for update -->
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>