<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/app/admin-main-page}">
<head>
    <title>Uganda Airlines || New Flight</title>
    <link th:href="@{/app/assets/css/bootstrap-datetimepicker.min.css}" rel="stylesheet" type="text/css">
</head>
<body>
<th:block layout:fragment="content">
    <div class="page-title-box">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <h4 class="page-title">New Flight</h4>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-right">
                    <li class="breadcrumb-item"><a href="/app/dashboard">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="/app/flights">Flights</a></li>
                    <li class="breadcrumb-item active"><a href="/app/flight/new">New Flight</a></li>
                </ol>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card m-b-30">
                <div class="card-body">
                    <h4 class="mt-0 header-title">New Flight</h4>
                    <hr class="header-separator"/>
                    <form action="#" th:action="@{/app/flights/save}" th:object="${flight}" method="post">
                        <div class="row">

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="departureAirport">Departure Airport</label>
                                    <select class="form-control" th:field="*{departureAirport}" id="departureAirport" required>
                                        <option value="0">Select Airport</option>
                                        <option th:each="airport : ${airports}" th:value="${airport.airportId}"
                                                th:text="${airport.airportName}"></option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="arrivalAirport">Arrival Airport</label>
                                    <select class="form-control" th:field="*{arrivalAirport}" id="arrivalAirport" required>
                                        <option value="0">Select Airport</option>
                                        <option th:each="airport : ${airports}" th:value="${airport.airportId}"
                                                th:text="${airport.airportName}"></option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="arrivalAirport">Aircraft</label>
                                    <select class="form-control" th:field="*{aircraft}" id="aircraft" required>
                                        <option value="0">Select Aircraft</option>
                                        <option th:each="aircraft : ${aircrafts}" th:value="${aircraft.aircraftId}"
                                                th:text="${aircraft.registrationCode}"></option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="departureHour">Departure Date/Time</label>
                                    <div class="input-group">
                                        <input id="departureHour" type="datetime-local" class="form-control"
                                               placeholder="mm/dd/yyyy" name="departureHour"
                                               th:field="*{departureHour}" required>
                                        <div class="input-group-append bg-custom b-0"><span class="input-group-text"><i
                                                class="fa fa-calendar"></i></span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="arrivalHour">Arrival Date/Time</label>
                                    <div class="input-group">
                                        <input id="arrivalHour" type="datetime-local" class="form-control"
                                               placeholder="mm/dd/yyyy" name="arrivalHour" th:field="*{arrivalHour}" required>
                                        <div class="input-group-append bg-custom b-0"><span class="input-group-text"><i
                                                class="fa fa-calendar"></i></span></div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="economyCost">Economy Class Fair</label>
                                    <div>
                                        <input type="number" id="economyCost" step="0.01" min="0" class="form-control"
                                               name="economyCost" th:field="*{economyCost}" required
                                               placeholder="Fair e.g 1000.5"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="businessCost">Business Class Fair</label>
                                    <div>
                                        <input type="number" id="businessCost" step="0.01" min="0" class="form-control"
                                               name="businessCost" th:field="*{businessCost}" required
                                               placeholder="Fair e.g 1000.5"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div style="float: right">
                                    <button type="submit" class="btn btn-outline-success">
                                        <em class="fa fa-save"></em>
                                        Submit
                                    </button>
                                    <button type="reset" class="btn btn-outline-warning">
                                        <em class="fa fa-eraser"></em>
                                        Clear
                                    </button>
                                    <a href="/app/flights" class="btn btn-outline-secondary">
                                        <em class="fa fa-backward"></em>
                                        Cancel
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</th:block>
<script th:src="@{/app/assets/js/moment.min.js}"></script>
<script th:src="@{/app/assets/js/bootstrap-datetimepicker.min.js}"></script>
<script>
    $(function () {
        $('#departureTime').datetimepicker();
    });
</script>
</body>
</html>