<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>Uganda Airlines || Login</title>
    <meta content="Uganda Airlines Booking System" name="description" />
    <meta content="Fabrice Nduwayo" name="author" />
    <link rel="shortcut icon" th:href="@{/common/img/favicon.png}">

    <link th:href="@{/app/assets/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/app/assets/css/metismenu.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/app/assets/css/icons.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/app/assets/css/style.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/app/assets/css/custom.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="accountbg"></div>
<div class="home-btn d-none d-sm-block">
    <a href="/" class="text-white"><i class="fas fa-home h2"></i></a>
</div>
<div class="wrapper-page">
    <div class="card card-pages shadow-none">

        <div class="card-body">
            <div class="text-center m-t-0 m-b-15">
                <a href="/administrator/login" class="logo logo-admin">
                    <img th:src="@{/web/images/uganda-logo-1.png}" alt="" height="90" src=""></a>
            </div>
            <form class="form-horizontal m-t-30" action="/administrator/authenticate" method="post">
                <div class="col-md-12">
                    <div th:if="${param.error}" class="alert alert-dismissible alert-danger">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        Invalid username and/or password.
                    </div>
                    <div th:if="${param.logout}" class="alert alert-dismissible alert-primary">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        You have been signed out.
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-12">
                        <label for="email">User email <span class="text-danger">*</span></label>
                        <input class="form-control" type="email" required placeholder="username" id="email" name="username">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-12">
                        <label for="password">Password <span class="text-danger">*</span></label>
                        <input class="form-control" type="password" required placeholder="password" id="password" name="password">
                    </div>
                </div>

                <div class="form-group text-center m-t-20">
                    <div class="col-12">
                        <button class="btn btn-primary btn-block btn-lg waves-effect waves-light" type="submit">Login</button>
                    </div>
                </div>

            </form>
        </div>

    </div>
</div>
<script th:src="@{/app/assets/js/jquery.min.js}"></script>
<script th:src="@{/app/assets/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/app/assets/js/parsley.min.js}"></script>
<script th:src="@{/app/assets/js/metismenu.min.js}"></script>
<script th:src="@{/app/assets/js/jquery.slimscroll.js}"></script>
<script th:src="@{/app/assets/js/waves.min.js}"></script>
<script th:src="@{/app/assets/js/app.js}"></script>
<script>
    $(document).ready(function() {
        $('form').parsley();
    });
</script>
</body>
</html>