<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/web/main-page}">
<head>
    <link rel="stylesheet" type="text/css" href="../../../static/web/css/custom.css"/>
    <title>Uganda Airlines || About</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body" style="padding: 100px">
                    <h3>About Us</h3>
                    <p>UgandaAirlines.com provides a complete set of solutions for flights, tours,
                        travels, car rental, accomodations and passenger transportation to and from Uganda. With extensive
                        online tools suited for online and offline travels we provide instant search and bookings to travelers
                        through our online portal. We can also provide tailor made travel solutions within Uganda that may
                        include Aircraft and Helicopter rental services.
                        With highly experienced staff in the flight and travel business, we will unquestionably be the number
                        one go to for travel requirements into, within and out of Uganda. We look forward to develop a
                        reputation for being a trusted source, a reliable partner and and your to go expert in the area of
                        travel business in Uganda.</p>

                    <p>The combination of our services, 24/7 nonstop support, our pricing, friendly way of conducting
                        business, and our compassionate corporate philosophy is very unique in the business world in Africa
                        today. We pride ourselves on exceptional customer service and strive to build lasting relationships
                        with our customers by making it easy and profitable for them to do business with us.
                        We value our clients and focus in customer satisfaction. That is why after-sale support is a key
                        factor in our approach. With all this rich experience, now through our website we are bound to meet
                        customer satisfaction and establish trust.</p>

                    <p>If you are looking to enhance your travels in and out of Uganda, our online portal functions as the
                        best one stop solution with user friendly interface and great features with prices that will match
                        your budget.</p>

                    <p>
                        To get in touch with us you can use our support desk system, or feel free to follow us on&nbsp;<a
                            href="http://twitter.com/ugandaairlines"
                            style="color: rgb(66, 139, 202); box-sizing: border-box; text-decoration: none; background-color: transparent;"
                            target="_blank">Twitter</a>&nbsp;or&nbsp;
                        <a href="http://www.facebook.com/ugandaairlines" style="color: rgb(66, 139, 202); box-sizing: border-box; text-decoration: none; background-color: transparent;"
                           target="_blank">Facebook</a>.
                        Please do not hesitate
                        to contact us.</p>

                    <p>Thank you</p>

                    <p>UgandaAirlines.com Team</p>
                </div>
            </div>
        </div>
    </div>

</th:block>
</body>
</html>