<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/web/main-page}">
<head>
    <title>Uganda Airlines || Booking page</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="main-wrapper scrollspy-action">
        <div class="page-title breadcrumb-wrapper">
            <div class="container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Booking</li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="page-wrapper page-detail bg-light">


            <span class="d-block"></span>





            <div class="container">

                <div class="row gap-30">

                    <div class="col-12 col-lg-8 col-xl-9">
                        <div class="content-wrapper">
                            <div id="detail-content-sticky-nav-02" class="fullwidth-horizon-sticky-section">

                                <h3 class="heading-title"><span>Add Passenger Details</span></h3>

                                <div class="change-search-wrapper">

                                    <form action="/booking/flight/details/passenger/add" method="get" th:object="${passenger}">

                                        <input type="hidden" name="flight" th:value="${flight.flightId}">
                                        <input type="hidden" name="booking" th:value="${booking.bookingId}">


                                        <div class="row gap-10 gap-xl-20 align-items-end">

                                            <div class="col-12 col-lg-12">

                                                <div id="airDatepickerRange-general" class="row gap-10 gap-xl-20">

                                                    <div class="col-4 col-sm-4 col-sm-4 col-md-4">

                                                        <div class="form-group">
                                                            <label>First Name *</label>
                                                            <div class="form-icon-left">
                                                                <span class="icon-font text-muted"><i class="bx bx-calendar"></i></span>
                                                                <input type="text" name="firstName" id="firstName" class="form-control " th:value="${customer.firstName}" >
                                                            </div>
                                                        </div>

                                                    </div>

                                                    <div class="col-4 col-sm-4 col-sm-4 col-md-4">

                                                        <div class="form-group">
                                                            <label>Middle Name </label>
                                                            <div class="form-icon-left">
                                                                <span class="icon-font text-muted"><i class="bx bx-calendar"></i></span>
                                                                <input type="text" name="middleName" id="middleName" class="form-control" th:value="${customer.middleName}" >
                                                            </div>
                                                        </div>

                                                    </div>

                                                    <div class="col-4 col-sm-4 col-sm-4 col-md-4">

                                                        <div class="form-group">
                                                            <label>Last Name *</label>
                                                            <div class="form-icon-left">
                                                                <span class="icon-font text-muted"><i class="bx bx-calendar"></i></span>
                                                                <input type="text" name="lastName" id="lastName" class="form-control" th:value="${customer.lastName}" >
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>

                                            </div>
                                            <div class="col-12 col-lg-12">

                                                <div id="airDatepickerRange-general" class="row gap-10 gap-xl-20">

                                                    <div class="col-4 col-sm-4 col-sm-4 col-md-4">

                                                        <div class="form-group">
                                                            <label>Email Address *</label>
                                                            <div class="form-icon-left">
                                                                <span class="icon-font text-muted"><i class="bx bx-calendar"></i></span>
                                                                <input  type="email" name="email" id="email" class="form-control " th:value="${customer.email}" >
                                                            </div>
                                                        </div>

                                                    </div>

                                                    <div class="col-4 col-sm-4 col-sm-4 col-md-4">

                                                        <div class="form-group">
                                                            <label>Phone Number * </label>
                                                            <div class="form-icon-left">
                                                                <span class="icon-font text-muted"><i class="bx bx-calendar"></i></span>
                                                                <input type="text" name="phoneNumber" id="phoneNumber" class="form-control" th:value="${customer.phoneNumber}" >
                                                            </div>
                                                        </div>

                                                    </div>

                                                    <div class="col-4 col-sm-4 col-sm-4 col-md-4">

                                                        <div class="form-group">
                                                            <label>Gender*</label>
                                                            <div class="form-icon-left">
                                                                <span class="icon-font text-muted"><i class="bx bx-calendar"></i></span>
                                                                <select name="gender" id="gender" class="form-control" required >
                                                                    <option th:value="${customer.gender}" th:text="${customer.gender}"></option>
                                                                    <option value="MALE">Male</option>
                                                                    <option VALUE="FEMALE">Female</option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>

                                            </div>

                                            <div class="col-12 col-sm-8 col-md-8 col-xl-9">

                                                <div class="row gap-10 gap-xl-20">

                                                    <div class="col-8 col-sm-8">

                                                        <div class="form-group form-spin-group">
                                                            <label for="destinationAddress">Destination Address *</label>
                                                            <div class="form-icon-left">
                                                                <span class="icon-font"><i class="dripicons-user text-muted"></i></span>
                                                                <input type="text" id="destinationAddress" name="destinationAddress" class="form-control" required  />
                                                            </div>
                                                        </div>

                                                    </div>


                                                    <div class="col-4 col-sm-4">

                                                        <div class="form-group form-spin-group">
                                                            <label for="passengerClass">Class *</label>
                                                            <div class="form-icon-left">
                                                                <span class="icon-font"><i class="dripicons-user text-muted"></i></span>
                                                                <select id="passengerClass" name="passengerClass"  class="form-control" required >
                                                                    <option>Select Class</option></option>
                                                                    <option>Economy</option>
                                                                    <option>Business</option>
                                                                </select>

                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>

                                            <div class="col-12 col-sm-4 col-md-4 col-xl-3">
                                                <div class="form-group">
                                                    <button type="submit" class="btn  btn-primary btn-block">
                                                        <em class="fa fa-save"></em>
                                                        Save &amp; New
                                                    </button>
                                                </div>
                                            </div>

                                        </div>
                                    </form>


                                </div>

                                <div class="room-item-wrapper">

                                    <div class="room-item heading d-none d-md-block">

                                        <div class="row gap-20">

                                            <div class="col-xs-12 col-sm-12 col-md-6">

                                                <div class="row gap-20">

                                                    <div class="col-xss-6 col-xs-3 col-sm-4 col-md-4">

                                                    </div>

                                                    <div class="col-xss-12 col-xs-9 col-sm-8 col-md-8">
                                                        <span>Flight Details</span>
                                                    </div>

                                                </div>

                                            </div>

                                            <div class="col-xs-12 col-sm-8 col-sm-offset-4 col-md-6 col-md-offset-0">

                                                <div class="row gap-20">

                                                    <div class="col-xs-12 col-sm-8 col-md-8">
                                                        <span>Extras</span>
                                                    </div>

                                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                                        <span>Passengers</span>
                                                    </div>

                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                    <div class="room-item">

                                        <div class="row gap-20">

                                            <div class="col-12 col-sm-12 col-md-6">
                                                <div class="row gap-20">

                                                    <div class="col-6 col-sm-4 col-md-4">
                                                        <div class="image">
                                                            <img th:src="@{/web/images/room/01.jpg}" alt="image"  src=""/>
                                                        </div>
                                                    </div>

                                                    <div class="col-12 col-sm-8 col-md-8">
                                                        <div class="content">
                                                            <h5 th:text="${flight.arrivalAirport.airportCode} + ' - ' + ${flight.arrivalAirport.city} + ' , ' + ${flight.arrivalAirport.country}"></h5>
                                                            <p th:text=" 'Flight No.:   ' +  ${flight.flightNumber} + ' , Aircraft : ' + ${flight.aircraft.aircraftModel}  ">  </p>

                                                            <p class="price"><span class="" th:text="'B $' + ${flight.businessCost}"></span> <span class="number text-secondary" th:text="'E  $' + ${flight.economyCost}"></span>Per Adult</p>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="col-12 col-md-6">

                                                <div class="row gap-20 justify-content-between">

                                                    <div class="col-7 col-sm-8 col-md-8">

                                                        <p class="line13 mt-5 mb-15"><span class="block text-danger font600 text-uppercase">None-refundable</span></p>

                                                        <ul class="list-icon-data-attr font-awesome list-block-md">
                                                            <li data-content="&#xf00c">Food Included</li>
                                                            <li data-content="&#xf00c">Entertainment Onboad</li>
                                                            <li data-content="&#xf00c">Free Cancelation</li>
                                                            <li data-content="&#xf00c">No Booking Fee</li>
                                                        </ul>

                                                    </div>

                                                    <div class="col-5 col-sm-4 col-md-4">
                                                        <div class="form-group form-spin-group mb-5">
                                                            <label class="line12 font13 spacing-05 mt-5 mb-10 block">Added Passengers</label>
                                                            <div class="form-icon-left">
                                                                <span class="icon-font"><i class="dripicons-user text-muted"></i></span>
                                                                <input type="text" class="form-control touch-spin-03 form-readonly-control" th:value="${passengers.size()}" readonly />
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>

                    <div  class="col-12 col-lg-4 col-xl-3">

                        <aside class="sticky-kit sidebar-wrapper">

                            <button class="btn btn-secondary btn-wide btn-toggle collapsed btn-change-search btn-block" data-toggle="collapse" data-target="#change-search"></button>

                            <div class="booking-selection-box mt-20">

                                <div class="heading clearfix">
                                    <div class="d-flex align-items-end">
                                        <div>
                                            <h4 class="text-white font-serif font400">Your Booking</h4>
                                        </div>
                                        <div class="ml-auto">
                                            <a href="page-detail.html#" class="booking-selection-filter">reset</a>
                                        </div>
                                    </div>
                                </div>

                                <hr class="content">

                                    <ul class="booking-amount-list clearfix mb-20">
                                        <li th:text="'Dep: '">

                                        </li>


                                        <li class="text-right" th:text="${flight.departureTime}">

                                        </li>
                                    </ul>

                                <ul class="booking-amount-list clearfix mb-20">
                                    <li th:text="'Arr:'">

                                    </li>


                                    <li class="text-right" th:text="${flight.arrivalTime}">

                                    </li>
                                </ul>

                                    <div class="hotetl-room-sm-item">
                                        <div class="he-hotel-item">
                                            <h5><a th:href="@{''}" th:text="${flight.arrivalAirport.airportCode} + ' - ' + ${flight.arrivalAirport.city} + ' , ' + ${flight.arrivalAirport.country}" ></a></h5>
                                            <div class="d-flex">
                                                <div>
                                                    <p class="location" th:text="${flight.departureAirport.airportCode} + ' - ' + ${flight.departureAirport.city} + ' , ' + ${flight.departureAirport.country}" ></p>
                                                </div>
                                                <div>
                                                    <div class="rating-item rating-xs">
                                                        <div class="rating-icons">
                                                            <input type="hidden" class="rating" data-filled="rating-icon fas fa-star rating-rated" data-empty="rating-icon far fa-star" data-fractions="2" data-readonly value="4.5"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <hr></hr>

                                    <div class="hotel-room-sm-item" th:each="psg : ${passengers}">

                                        <div class="the-room-item">
                                            <h6 th:text="${psg.firstName} + ' ' + ${psg.lastName}"></h6>
                                            <div class="clearfix">
                                                <span class="amount" th:text="${psg.passengerClass}"></span>
                                                <span class="price" th:text="'$'+ ${psg.flight.economyCost}"></span>
                                            </div>
                                            <a href="page-detail.html#" class="remove"><i class="fa fa-times"></i></a>
                                        </div>
                                    </div>

                                    <div class="hotel-room-sm-item">

                                        <div class="the-room-item">
                                            <h5>Total</h5>

                                            <div class="clearfix">
                                                <span class="price" th:text="${totalCost}"></span>
                                            </div>


                                        </div>
                                    </div>



                                    <a th:href="@{'/booking/flight/payment?bookingId=' + ${booking.bookingId} +'&flightId=' + ${flight.flightId}  + '&amount=' + ${totalCost} }" class="btn btn-secondary btn-block mt-20">Pay Now</a>

                                </div>

                            </div>

                        </aside>

                    </div>

                </div>

                <div class="fullwidth-horizon-sticky border-0">&#032;</div> <!-- is used to stop the above stick menu -->

            </div>

        </div>

    </div>
</th:block>
</body>
</html>