<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/web/main-page}">
<head>
    <title>Uganda Airlines || Booking page</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="main-wrapper scrollspy-action">
        <div class="page-title breadcrumb-wrapper">
            <div class="container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Booking</li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="page-wrapper page-detail bg-light">
            <div class="detail-header">
                <div class="container">
                    <div class="d-flex flex-column flex-lg-row">
                        <div>
                            <h2 id="detail-content-sticky-nav-00" class="name">Marina Bay Sands Hotel</h2>
                            <div class="star-rating-wrapper">
                                <div class="rating-item rating-inline">
                                    <div class="rating-icons">
                                        <input type="hidden" class="rating" data-filled="rating-icon fas fa-star rating-rated" data-empty="rating-icon far fa-star" data-fractions="2" data-readonly value="4.5"/>
                                    </div>
                                </div>
                            </div>

                            <div class="clear"></div>

                            <p class="location"><i class="material-icons text-info small">place</i> 10 Bayfront Avenue, Marina Bay, 018956 Singapore, Singapore <a href="page-detail.html#detail-content-sticky-nav-03" class="anchor">Show map</a></p>


                        </div>

                        <div class="ml-lg-auto text-left text-lg-right mt-20 mt-lg-0">

                            <div class="price">from <span>$<span>132.32</span></span></div>
                            <a href="page-detail.html#detail-content-sticky-nav-02" class="anchor btn btn-primary btn-wide mt-5">See price and date</a>

                        </div>

                    </div>

                </div>

            </div>

            <span class="d-block"></span>

            <div class="fullwidth-horizon-sticky d-none d-lg-block">

                <div class="fullwidth-horizon-sticky-inner">

                    <div class="container">

                        <div class="fullwidth-horizon-sticky-item clearfix">

                            <ul id="horizon-sticky-nav" class="horizon-sticky-nav clearfix">
                                <li>
                                    <a href="javascript:void(0)">Gallery</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Overview</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Available rooms</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">What's nearby</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Facilities</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Conditions</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Reviews</a>
                                </li>
                            </ul>

                        </div>

                    </div>
                </div>
            </div>

            <div class="container">

                <div id="change-search" class="collapse">

                    <div class="change-search-wrapper rounded-0 shadow-sm mh-1 mb-0">

                        <div class="row gap-10 gap-xl-20 align-items-end">

                            <div class="col-12 col-lg-6">

                                <div class="form-group">
                                    <label>Destination</label>
                                    <div class="form-icon-left typeahead__container">
                                        <span class="icon-font text-muted"><i class="bx bx-map"></i></span>
                                        <input class="js-typeahead-country_v1 form-control" name="country_v1[query]" type="search" placeholder="Country or city" autocomplete="off">
                                    </div>
                                </div>

                            </div>

                            <div class="col-12 col-lg-6">

                                <div id="airDatepickerRange-hotel" class="row gap-10 gap-xl-20">

                                    <div class="col-12 col-sm-6 col-sm-6 col-md-6">

                                        <div class="form-group">
                                            <label>Check-in</label>
                                            <div class="form-icon-left">
                                                <span class="icon-font text-muted"><i class="bx bx-calendar"></i></span>
                                                <input type="text" id="dateStart-hotel" class="form-control form-readonly-control" placeholder="dd/mm/yyyy">
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-12 col-sm-6 col-sm-6 col-md-6">

                                        <div class="form-group">
                                            <label>Check-out</label>
                                            <div class="form-icon-left">
                                                <span class="icon-font text-muted"><i class="bx bx-calendar"></i></span>
                                                <input type="text" id="dateEnd-hotel" class="form-control form-readonly-control" placeholder="dd/mm/yyyy">
                                            </div>
                                        </div>

                                    </div>

                                </div>


                            </div>

                            <div class="col-12 col-sm-8 col-md-9">

                                <div class="row gap-10 gap-xl-20">

                                    <div class="col-4 col-sm-4">

                                        <div class="form-group form-spin-group">
                                            <label for="room-amount">Rooms</label>
                                            <div class="form-icon-left">
                                                <span class="icon-font"><i class="dripicons-user text-muted"></i></span>
                                                <input type="text" class="form-control touch-spin-03 form-readonly-control" placeholder="dd/mm/yyyy" value="1" readonly />
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-4 col-sm-4 col-md-4">

                                        <div class="form-group form-spin-group">
                                            <label for="adult-amount">Adults</label>
                                            <div class="form-icon-left">
                                                <span class="icon-font"><i class="dripicons-user text-muted"></i></span>
                                                <input type="text" class="form-control touch-spin-03 form-readonly-control" placeholder="dd/mm/yyyy" value="0" readonly />
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-4 col-sm-4">

                                        <div class="form-group form-spin-group">
                                            <label for="child-amount">Children</label>
                                            <div class="form-icon-left">
                                                <span class="icon-font"><i class="dripicons-user text-muted"></i></span>
                                                <input type="text" class="form-control touch-spin-03 form-readonly-control" placeholder="dd/mm/yyyy" value="0" readonly />
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>

                            <div class="col-12 col-sm-4 col-md-3">
                                <div class="form-group">
                                    <button class="btn btn-block btn-primary btn-form">Search</button>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <div class="container">

                <div class="row gap-30">

                    <div class="col-12 col-lg-8 col-xl-9">
                        <div class="content-wrapper">
                            <div id="detail-content-sticky-nav-02" class="fullwidth-horizon-sticky-section">

                                <h3 class="heading-title"><span>Available rooms</span></h3>

                                <div class="change-search-wrapper">

                                    <div class="row gap-10 gap-xl-20 align-items-end">

                                        <div class="col-12 col-lg-12">

                                            <div id="airDatepickerRange-general" class="row gap-10 gap-xl-20">

                                                <div class="col-12 col-sm-6 col-sm-6 col-md-6">

                                                    <div class="form-group">
                                                        <label>Check-in</label>
                                                        <div class="form-icon-left">
                                                            <span class="icon-font text-muted"><i class="bx bx-calendar"></i></span>
                                                            <input type="text" id="dateStart-general" class="form-control form-readonly-control" placeholder="dd/mm/yyyy">
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="col-12 col-sm-6 col-sm-6 col-md-6">

                                                    <div class="form-group">
                                                        <label>Check-out</label>
                                                        <div class="form-icon-left">
                                                            <span class="icon-font text-muted"><i class="bx bx-calendar"></i></span>
                                                            <input type="text" id="dateEnd-general" class="form-control form-readonly-control" placeholder="dd/mm/yyyy">
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>

                                        </div>

                                        <div class="col-12 col-sm-8 col-md-8 col-xl-9">

                                            <div class="row gap-10 gap-xl-20">

                                                <div class="col-4 col-sm-4">

                                                    <div class="form-group form-spin-group">
                                                        <label for="room-amount">Rooms</label>
                                                        <div class="form-icon-left">
                                                            <span class="icon-font"><i class="dripicons-user text-muted"></i></span>
                                                            <input type="text" class="form-control touch-spin-03 form-readonly-control" value="1" readonly />
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="col-4 col-sm-4 col-md-4">

                                                    <div class="form-group form-spin-group">
                                                        <label for="adult-amount">Adults</label>
                                                        <div class="form-icon-left">
                                                            <span class="icon-font"><i class="dripicons-user text-muted"></i></span>
                                                            <input type="text" class="form-control touch-spin-03 form-readonly-control" value="0" readonly />
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="col-4 col-sm-4">

                                                    <div class="form-group form-spin-group">
                                                        <label for="child-amount">Children</label>
                                                        <div class="form-icon-left">
                                                            <span class="icon-font"><i class="dripicons-user text-muted"></i></span>
                                                            <input type="text" class="form-control touch-spin-03 form-readonly-control" value="0" readonly />
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-12 col-sm-4 col-md-4 col-xl-3">
                                            <div class="form-group">
                                                <label class="d-block text-secondary font-italic line-12 font700 letter-spacing-1 mb-5"><i class="material-icons">thumb_up</i> Best Price Guaranteed</label>
                                                <button class="btn btn-block btn-primary btn-form">Search</button>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                                <div class="room-item-wrapper">

                                    <div class="room-item heading d-none d-md-block">

                                        <div class="row gap-20">

                                            <div class="col-xs-12 col-sm-12 col-md-6">

                                                <div class="row gap-20">

                                                    <div class="col-xss-6 col-xs-3 col-sm-4 col-md-4">

                                                    </div>

                                                    <div class="col-xss-12 col-xs-9 col-sm-8 col-md-8">
                                                        <span>Room type</span>
                                                    </div>

                                                </div>

                                            </div>

                                            <div class="col-xs-12 col-sm-8 col-sm-offset-4 col-md-6 col-md-offset-0">

                                                <div class="row gap-20">

                                                    <div class="col-xs-12 col-sm-8 col-md-8">
                                                        <span>Room option</span>
                                                    </div>

                                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                                        <span>No. room</span>
                                                    </div>

                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                    <div class="room-item">

                                        <div class="row gap-20">

                                            <div class="col-12 col-sm-12 col-md-6">
                                                <div class="row gap-20">

                                                    <div class="col-6 col-sm-4 col-md-4">
                                                        <div class="image">
                                                            <img th:src="@{/web/images/room/01.jpg}" alt="image"  src=""/>
                                                        </div>
                                                    </div>

                                                    <div class="col-12 col-sm-8 col-md-8">
                                                        <div class="content">
                                                            <h5><a href="page-detail.html#">Deluxe Room</a></h5>
                                                            <p><span class="font700">Room with view</span>, 43 square metres, 1 double bed </p>
                                                            <p class="max-man">Max. : <span data-toggle="tooltip" data-placement="top" title="Maximum 2 persons"><i class="fas fa-male"></i> <i class="fas fa-male"></i></span></p>
                                                            <p class="price"><span class="not-this">$178</span> <span class="number text-secondary"><small>$</small>145</span> per night</p>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="col-12 col-md-6">

                                                <div class="row gap-20 justify-content-between">

                                                    <div class="col-7 col-sm-8 col-md-8">

                                                        <p class="line13 mt-5 mb-15"><span class="block text-danger font600 text-uppercase">None-refundable</span></p>

                                                        <ul class="list-icon-data-attr font-awesome list-block-md">
                                                            <li data-content="&#xf00c">Breakfast Included</li>
                                                            <li data-content="&#xf00c">Free Internet in Room</li>
                                                            <li data-content="&#xf00c">Free Parking</li>
                                                            <li data-content="&#xf00c">No Booking Fee</li>
                                                        </ul>

                                                    </div>

                                                    <div class="col-5 col-sm-4 col-md-4">
                                                        <div class="form-group form-spin-group mb-5">
                                                            <label class="line12 font13 spacing-05 mt-5 mb-10 block">How many rooms?</label>
                                                            <div class="form-icon-left">
                                                                <span class="icon-font"><i class="dripicons-user text-muted"></i></span>
                                                                <input type="text" class="form-control touch-spin-03 form-readonly-control" value="1" readonly />
                                                            </div>
                                                        </div>
                                                        <a href="page-detail.html#" class="btn btn-primary btn-sm btn-block">Book</a>
                                                    </div>

                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>

                    <div  class="col-12 col-lg-4 col-xl-3">

                        <aside class="sticky-kit sidebar-wrapper">

                            <button class="btn btn-secondary btn-wide btn-toggle collapsed btn-change-search btn-block" data-toggle="collapse" data-target="#change-search"></button>

                            <div class="booking-selection-box mt-20">

                                <div class="heading clearfix">
                                    <div class="d-flex align-items-end">
                                        <div>
                                            <h4 class="text-white font-serif font400">Your Booking</h4>
                                        </div>
                                        <div class="ml-auto">
                                            <a href="page-detail.html#" class="booking-selection-filter">reset</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="content">

                                    <ul class="booking-amount-list clearfix mb-20">
                                        <li>
                                            23-11-2019<span class="font700">Mon</span>
                                        </li>
                                        <li class="text-right">
                                            26-11-2019<span class="font700">Wed</span>
                                        </li>
                                    </ul>

                                    <div class="hotel-room-sm-item">
                                        <div class="the-hotel-item">
                                            <h5><A href="page-detail.html#">Marina Bay Sands Hotel</a></h5>
                                            <div class="d-flex">
                                                <div>
                                                    <p class="location">Marina Bay, Singapore</p>
                                                </div>
                                                <div>
                                                    <div class="rating-item rating-xs">
                                                        <div class="rating-icons">
                                                            <input type="hidden" class="rating" data-filled="rating-icon fas fa-star rating-rated" data-empty="rating-icon far fa-star" data-fractions="2" data-readonly value="4.5"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="the-room-item">
                                            <h6>Deluxe Room</h6>
                                            <div class="clearfix">
                                                <span class="amount"> 2 nights x 1</span>
                                                <span class="price">$178</span>
                                            </div>
                                            <a href="page-detail.html#" class="remove"><i class="fa fa-times"></i></a>
                                        </div>
                                        <div class="the-room-item">
                                            <h6>Deluxe Room (Executive)</h6>
                                            <div class="clearfix">
                                                <span class="amount"> 2 nights x 1</span>
                                                <span class="price">$178</span>
                                            </div>
                                            <a href="page-detail.html#" class="remove"><i class="fa fa-times"></i></a>
                                        </div>
                                        <div class="the-room-item">
                                            <h6>Executive Deluxe Marina Bay View</h6>
                                            <div class="clearfix">
                                                <span class="amount"> 2 nights x 1</span>
                                                <span class="price">$178</span>
                                            </div>
                                            <a href="page-detail.html#" class="remove"><i class="fa fa-times"></i></a>
                                        </div>
                                    </div>

                                    <div class="hotel-room-sm-item">
                                        <div class="the-hotel-item">
                                            <h5><A href="page-detail.html#">Marina Bay Sands Hotel</a></h5>
                                            <div class="d-flex">
                                                <div>
                                                    <p class="location">Marina Bay, Singapore</p>
                                                </div>
                                                <div>
                                                    <div class="rating-item rating-xs">
                                                        <div class="rating-icons">
                                                            <input type="hidden" class="rating" data-filled="rating-icon fas fa-star rating-rated" data-empty="rating-icon far fa-star" data-fractions="2" data-readonly value="4.5"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="the-room-item">
                                            <h6>Deluxe Room (Executive)</h6>
                                            <div class="clearfix">
                                                <span class="amount"> 2 nights x 1</span>
                                                <span class="price">$178</span>
                                            </div>
                                            <a href="page-detail.html#" class="remove"><i class="fa fa-times"></i></a>
                                        </div>
                                    </div>


                                    <a href="page-detail.html#" class="btn btn-secondary btn-block mt-20">Check out</a>

                                </div>

                            </div>

                        </aside>

                    </div>

                </div>

                <div class="fullwidth-horizon-sticky border-0">&#032;</div> <!-- is used to stop the above stick menu -->

            </div>

        </div>

    </div>
</th:block>
</body>
</html>